@import "tailwindcss";

@theme {
    --font-sans: "Inter", sans-serif;
    --font-mono: "Fira Code", monospace;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #020617;
    /* slate-950 */
    color: #e2e8f0;
    /* slate-200 */
    overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0f172a;
}

::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #475569;
}

/* Code selection */
::selection {
    background: rgba(14, 165, 233, 0.3);
    /* sky-500 */
    color: #fff;
}